<!doctype html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <script ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Вот ета штука решает да</a>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
    <div class="col-md6 border rounded">
        <a id="result">{{ result["result"] }}</a>
    </div>

    <script>
        function ShowManual() {
            let manual = document.getElementById("manual");
            if (manual.style.display === "none") {
                document.getElementById("manual").style.display = "initial"
            } else {
                document.getElementById("manual").style.display = "none"
            }
        }
    </script>
    
    <br>
    
    <button class="btn btn-primary" onclick="ShowManual()">Показать мануал</button>
    <div id="manual" style="display: none;">
    <div class="jumbotron">
        <h1 align=center>Объясняловка</h1>
        <h2>Основы</h2>
            <p>Начнем по порядку - Логин и Пароль. Логин и пароль должны быть от аккаунта в РЭШ, при этом написаны верно. Данные нигде не хранятся.</p>
            <p>Теперь перед вами стоит выбор, какой функцией приложения вы хотите воспользоваться. </p>
            <p>Решить урок - значит решить тренировку и все контрольные. Решить контрольную - значит решить одну из контрольных, причем необходимо указать номер контрольной(порядковый - для контрольной B2 следует ввести 2). Решить тренировку - решить тренировку(всегда существует только одна тренировка). </p>
            <p>Вам доступен выбор оценки, которую вы получите (2-5). Если вы решаете урок, то оценка применяется ко всему. Если Вы хотите решить какой-то тест на другую оценку, Вы можете решить его в отдельности, после чего дорешать уже полный урок с другой оценкой.</p>
            <p>Самое сложное - айди урока в Рэш. Не стоит путать это с номером или классом урока - это разные вещи. Адрес урока имеет такую структуру: </p>
            <p>https://resh.edu.ru/subject/lesson/1993(айди урока)/start/(айди материала) </p>
            <p>В этом случае айди урока - 1993, то есть 4 цифры после lesson. Их и нужно ввести.</p>
            <p>Теперь остается лишь начать на кнопку "Решить".</p>
        <h2>Ошибки</h2>
            <p>Зачастую ошибки говорят сами за себя, но...</p>
            <p>"Неверный формат" - такая ошибка возникает из-за внутренней ошибки приложения, которая скорее всего вызвана неверным форматом данных.</p>
            <p>"Задания не найдены" - может возникнуть, если заданий в уроке нет, либо их невозможно отобразить, что и происходит при неверном логине\пароле</p>
            <p>"Ошибка подключения к серверу" - возникает, если данные введены неверно, либо подключение установить невозможно(достаточно проверить насколько хорошо сейчас работает РЭШ)</p>
            <p>"Ошибка отправки" - возникает на стороне пользователя, из-за чего запрос не был отправлен. Попробуйте обновить страницу</p>
        <h2> Если не работает вообще ничего попробуйте использовать другой браузер</h2>
        <h2 align="center"> Credits: Г-н Решаловый и Г-н Объясняловый</h1>
    </div>
    </div>
</main>
    <a href="https://github.com/denx24x/TestSolver"><h3>Исходный код приложения</h3></a>
<script type="text/javascript"
src="{{ url_for('static', filename='/js/checker.js') }}"></script>
</body>
</html>
